@import "https://code.highcharts.com/css/highcharts.css";
.highcharts-candlestick-series .highcharts-point-up {
    stroke: gray;
    stroke-width: 2px;
    fill: red;
}

.highcharts-candlestick-series .highcharts-point-down {
    stroke: gray;
    stroke-width: 2px;
    fill: green;
}

.highcharts-line-series {
    stroke: #333333;
    stroke-width: 1px;
}

.highcharts-tooltip {
    padding: 5px;
    color: #333333;
    cursor: default;
    font-size: 15px;
    white-space: nowrap;
    line-height: 1.2rem;
}